<!DOCTYPE HTML>
<html>
<head>
    <title>Quiz Project</title>
</head>
<body>
    <section class="container">
        <section class="hero">
            <section class="forms forms-{{ data }}">
                    <form class="register-form" method="POST" action="{% url 'register' %}">
                            {% csrf_token %}
                            <h1>Register</h1>
                            <input type=text name=fullname placeholder="Enter Your Full Name">
                            <input type=email name=emailid placeholder="Enter Your Email Address">
                            <input type=text name=username placeholder="Enter Username">
                            <input type=password name=password placeholder="Enter Password">
                            <div class="error"> {{ message }} </div>
                            
                            <button type=submit> Register </button>
                            <button id="goto-log"> Already registered? Log in </button>
                            
                        </form>
                        <form class="login-form" method="POST" action="{% url 'login' %}">
                                {% csrf_token %}
                            <h1>Log In</h1>
                            <input type=text name=username Placeholder="Username">
                            <input type=password name=password Placeholder="Password">
                            <div class="error">  {{ message1 }}</div>
                            <button type=submit> Login </button>
                            <button id="goto-reg">New ? Register</button>
                        </form>
            </section>
        </section>
    </section>
</body>
</html>

