header{
    background: #36d1dc;
    background: linear-gradient(to right, #36d1dc, #5b86e5);  
    display: flex;
    flex-wrap: wrap;
    padding: 7vh 0;
    justify-content: center;
    position:relative;
    overflow:hidden;
}
header:after{
    content:"";
    position: absolute;
    width: 200%;
    height: 100px;
    background: white;
    top:90%;
    left: -20vw;
    transform: rotateZ(1deg);
}
.user-info-butt{
    text-align: center;
    line-height: 50px;
    height:50px;
    width:50px;
    border-radius:100%;
    margin: -10px 30px 20px auto;
    cursor: pointer;
    background: rgba(179, 84, 46, 0.849);
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}
.user-info-butt > div{
    background: white;
    position: absolute;
    top: 80%;
    right: 110%;
    padding: 20px;
    z-index: 2;
    display: none;
}
.user-info-butt > div  span{
    display: block;
    min-width: max-content;
     margin: 8px 0px ;
     color:black;
}
.user-info-butt >div span a {
    text-decoration: underline;
    color: black;

}

.head-text{
    flex-basis: 100%;
    width: max-content;
    text-align: center;
    font: 35px viga;
    font-weight: bold;
    color: white;
    position:relative;
}
.head-text::after{
    content: "";
    position: absolute;
    height: 0.5px;
    width: 30vw;
    background: white;
    left:50vw;
    top:110%;
    margin-left: -15vw;
}
.page-links > ul{
    display: flex;
    width: 100vw;
    position: relative;
    font: 20px arial;
    list-style: none;
    justify-content: space-around;
}
.page-links >ul >li:hover{
    cursor:pointer;
    color: white;
}
#pic_logo{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}