header{
    background: #36d1dc;
    background: linear-gradient(to right, #36d1dc, #5b86e5);  
    display: flex;
    flex-wrap: wrap;
    padding: 2vh 0 8vh 0;
    justify-content: center;
    position:relative;
    overflow:hien;
}
header:after{
    content:"";
    position: absolute;
    width: 200%;
    height: 50px;
    background: white;
    top:85%;
    left: -20vw;
    transform: rotateZ(1deg);
}
.user-info-butt{
    text-align: center;
    line-height: 50px;
    height:50px;
    width:50px;
    border-radius:100%;
    margin: 0px 30px 0px auto;
    cursor: pointer;
    background: rgba(179, 84, 46, 0.849);
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}
.user-info-butt > div{
    background: white;
    position: absolute;
    top: 80%;
    right: 110%;
    padding: 20px;
    z-index: 2;
    display: none;
}
.user-info-butt > div  span{
    display: block;
    min-width: max-content;
     margin: 8px 0px ;
     color:black;
}
.user-info-butt >div span a {
    text-decoration: underline;
    color: black;

}
#user-info-butt img {
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.page-links{
    position: relative;
}
.page-links > ul{
    display: flex;
    width: 100vw;
    position: relative;
    font: 25px josefinsans;
    list-style: none;
    justify-content: space-around;
    padding: 0px;
    flex-wrap: wrap;
}
.page-links >ul>li>a{
    text-decoration: none;
    color:black;
}
.page-links >ul >li:hover a{
    cursor:pointer;
    color: white;
}
#pic_logo{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.hide{
    display:none;
}
#search-icon{
    flex-basis: 10%;
}
/* --------------------------------------------- */
header .page-links form {
    width: 0vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top:0px;
    overflow: hidden;
}
header input{
    width: 80vw;
    height:30px;
    font: 20px rubik;
    padding: 10px;
    border:none;
    background: #e4e4e4;
}
header form button,header .bar{
    font-size: 30px;
    background: transparent;
    border: none;
    color: black; 
    line-height: 50px;
    cursor: pointer;
    margin: 0 10px ;
}
.search-result{
    position: absolute;
    width: 100vw;
    display:flex;
    justify-content: center;
    z-index:10;
    flex-wrap:wrap;
    top:50px;
}
.a-result{
    display: flex;
    flex-wrap: wrap;
    background: whitesmoke;
    padding: 5px;
    align-items: center;
    width: calc(80vw + 10px);
    margin-left: -19px;
}
.a-result > *{
    margin: 5px 10px;
}
.view-profile-opponent, .challenge-opponent{
    font-size: 15px;
    min-width: max-content;
}
.challenge-opponent{
    margin-left:auto;
}
@keyframes animate{
    0%{
        width: 0vw;
    }
    100%{
        width: 100vw;
    }
}

/* --------------------------------------------- */
@media all and (max-width: 400px){
    header input {
        font-size: 16px;    
        padding:8px;
    }
    header form button,header .bar{
        font-size: 18px;
        margin:3px 0;

    }
}