
body{
  margin:0px;
  padding: 0px;
  background: skyblue;
}
.headtext{
  font: 35px Passionone;
  letter-spacing: 2px;
}
button{  
    max-width: max-content;
   background: #f1c40f;
    border: none;
    font: 15px poppins;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius:5px;
    border-bottom:  5px solid #cea709 ;
    transition: 1s;
}
button:hover, button:active {
     border-bottom:  0.5px;
}
.addQuizSetButt , .addQbutt, .addQsubmitButt, .doneAddQSbutt {
  border-bottom:  5px solid #15B358 ;
  background: #2ecc71;
}
.removeThisQSbutt, .removeQbutt {
  border-bottom:  5px solid #CE3323 ;
  background: #e74c3c;
}
.manageQSbutt, .editQbutt{
  background: #55acee;
  border-bottom-color: #3C93D5;
}
.viewQSbutt{
  background: #446CB3;
  border-bottom-color: #3b5998;
}
/* Buttons End here --------------------------------------------------------*/
.Main-container{
  margin: 5px;
  padding: 10px;
}
.Main-container > ul > li{
  list-style: none;
  font: 18px arial;
  width: 80vw;
  margin: 10px 0px;
  min-height: max-content;
}
.Main-container > ul> li:nth-child(odd){
  background: lightgrey;
}
.Main-container > ul> li:nth-child(even){
  background: whitesmoke;
}
.Main-container > ul> li> div{
  display: flex;
  padding-left: 10px;
  align-items: center;
}
.manageQSbutt {
  margin-left:auto;
}
.viewQSbutt{
  margin: 10px; 
}
/*------------------------------------------------------------------------*/
#manageQS-contain{
  margin-left: 40px;
}
#manageQS-contain >ul{
  margin: 0px;
}
#manageQS-contain > ul >li {
  list-style: none;
  font:18px arial;
  margin:10px 0px;
  padding:10px;
  display: flex;
  width: 85vw;
 flex-wrap: wrap;
}
#manageQS-contain > ul >li> div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  width: 70vw;
}
#manageQS-contain > ul >li> div>span{
  display: block;
}
.editQbutt, .removeQbutt{
  margin:0px 5px;
}

#manageQS-contain > ul> li:nth-child(odd){
  background: lightgrey;
}
#manageQS-contain > ul> li:nth-child(even){
  background: whitesmoke;
}