*{
    margin: 0px;
}
.cover{
    display: flex;
    width: 100vw;
    height: 100vh;
    background:#00203FFF;
    justify-content: center;
    align-items: center;
}
.cover div{
    border-radius: 100%;
    height: 20vw;
    width: 20vw;
    text-align: center;
    line-height:  20vw;
    background:#ADEFD1FF;
}
#readyText span{
    color: #00203fff ;
    font: 2em josefinsans;
}