:root{
    --sky: #375E97;
    --sunset: #FB6542;
    --sun:#FFBB00;
    --grass: #3F681C;
    --black: #101820FF;
    --yellow: #FBDE44FF;
    --island-green: #2BAE66FF;
    --whitish: #FCF6F5FF;
    --red:#F65058FF;
}
*{
    margin: 0px;
    padding:0px;
}

body{
    overflow-x: hidden;
  
}

.cover{
    position: absolute;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    background:#00203FFF;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.cover div{
    border-radius: 100%;
    height: 15vw;
    width: 15vw;
    min-width: 200px;
    min-height:200px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background:#ADEFD1FF;
    -webkit-animation: animate 1s ease-in-out infinite;
            animation: animate 1s ease-in-out infinite;
}
.cover div:after, .cover div:before{
    content: "";
    position: absolute;
    height: 60%;
    width: 60%;
    border-radius:100%;
    background: dodgerblue;
}
.cover div:before{
    background:tomato;
    z-index: 1;
    height: 50%;
    width: 50%;
    top:-30%;
    right: -25%;
}
#readyText span{
    color: #00203fff ;
    font: 2.5em josefinsans;
    z-index: 2 ;
}

/* ------___________________________________________________------------------------------------------ */
.hero{
    display: flex;
    flex-direction: column;
    height:100vh;
}
.Q-Box{ 
    width: 100vw;
    background: var(--red);
    display: flex;
    flex-flow: column;
    padding: 25px;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.Q-Box > span{
    margin: 20px;
    color: white;
    font:30px quicksand; 
    max-width: 80%;
}
.Q-field,.qno{
      font:18px quicksand; 
}
.Opt-box{
    width:100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    height: 50vh;
    max-height: 250px;
    margin: 0px;
    background: #28334AFF;
    justify-content: space-evenly;
}
.Opt{
    justify-content: center;
    border-bottom: 0px solid black;
    text-align: left;
    color:black;
    background: var(--yellow);
    font: 20px quicksand;
    padding:  20px 5px;
    border-radius: 20px;
    max-height: 150px;
    flex-basis: 40%;
    margin: 10px ;
    
}
/* --------------------0-------------------------------------------------------------- */
@media all and (min-height:500px){
    .Q-Box{
        height: calc(100vh - 250px);
    }
}
@media all and (max-height: 400px){
    .Opt-box{
        max-height:100px;
    }
    .Q-Box{
        height: calc(100vh - 100px);
    }
}
@media all and (max-width: 550px){
    .Opt-box{
    flex-wrap: wrap;
    height:300px;
    }
    .Q-Box{
        height: calc(100vh - 300px);
    }
}
@media all and (max-width: 300px){
    .Opt{
        font-size: 18px;
        padding: 5px;
    }
    //.Opt-box{
        max-height:100px;
    }
    .Q-Box > span{
         font-size: 18px;
        padding: 5px;

    }
}
@-webkit-keyframes animate{
    0%{
        height:15vw;
        width:15vw;
    }
    50%{
        height:25vw;
        width:25vw;
    }
    100%{
        height:15vw;
        width:15vw;
    }
}

@keyframes animate{
    0%{
        height:15vw;
        width:15vw;
    }
    50%{
        height:25vw;
        width:25vw;
    }
    100%{
        height:15vw;
        width:15vw;
    }
}




