body,html{
    margin: 0px;
    padding:0px;
    overflow-x: hidden;
}
header{
    background: #36d1dc;
    background: linear-gradient(to right, #36d1dc, #5b86e5);  
    display: flex;
    flex-wrap: wrap;
    padding: 10vh 0;
    justify-content: center;
    position:relative;
    overflow:hidden;
}
header:after{
    content:"";
    position: absolute;
    width: 200%;
    height: 100px;
    background: white;
    top:90%;
    left: -20vw;
    transform: rotateZ(1deg);
}
.head-text{
    flex-basis: 100%;
    width: max-content;
    text-align: center;
    font: 35px viga;
    font-weight: bold;
    color: white;
    position:relative;
}
.head-text::after{
    content: "";
    position: absolute;
    height: 0.5px;
    width: 30vw;
    background: white;
    left:50vw;
    top:110%;
    margin-left: -15vw;
}
.page-links > ul{
    display: flex;
    width: 100vw;
    position: relative;
    font: 20px arial;
    list-style: none;
    justify-content: space-around;
}
.page-links >ul >li:hover{
    cursor:pointer;
    color: white;
}
/*---------- ended header*/
.butt-contain{
    display: flex;
    flex-flow: column;
    margin: 20px;
    align-items: start;
}

.butt{  
    background: #f1c40f;
    border: none;
    font: 18px poppins;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius:5px;
    border-bottom:  5px solid #cea709 ;
    transition: 1s;
}
.butt:hover {
     border-bottom:  1px solid #cea709 ;
}
.helptxt{
    margin:10px 0px; 
    border: 1px solid lightblue;
    padding: 10px;
    font: 15px calibri;
    background: lightyellow;
}